nav.menu-nav ul li.btn a{
	text-decoration: none;
	color: white;
	background-color: red;
	padding: 10px;
	font-size: 30px;
	transition: 0.3s;
	margin-left: 10px;
}

nav.menu-nav ul li.btn {
	display: inline-block
}

nav.menu-nav ul li.btn:hover a{
	text-decoration: none;
	color: red;
	background-color: white;
	padding: 10px;
	transition: 0.3s;
}

nav.menu-nav{
	background-color: red;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
}

div.Contenu{
	margin-top: 75px;
}